<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false" /> //anonim erişim devre dışı
		  <windowsAuthentication enabled="true" /> //yalnızca Windows kullanıcı hesapları ile kimlik doğrulama yapar
	  </authentication>
    </security>
  </system.webServer>
</configuration>
